@charset "utf-8";
@use "global" as *;

.pplcy__allWrap {
  // sm first
  max-width: 23.4375rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.9375rem;

  // tablet 768px
  @include mq(md) {
    max-width: 61.7375rem;
    width: 100%;
  }

  // pc 1440px
  @include mq(xl) {
    max-width: 45.6375rem;
    width: 100%;
  }
}
