@charset "utf-8";
@use "global" as *;

// sm first
.company__wrap {
  padding: 0 0 rem(36) 0;

  // tablet size
  @include mq(md) {
    padding-bottom: 3.45rem;
  }

  // pc size 1440px
  @include mq(xl) {
    max-width: rem(1100);
    width: 100%;
    margin: 0 auto;
    padding-bottom: rem(47);
  }
}
