@use "global" as *;

.cntct__tel {
  // sm 375px
  margin: 0 0 2.5rem 0;

  //  tablet 768px
  @include mq(md) {
    margin: 0 0 3.7rem 0;
  }

  // pc 1440px
  @include mq(xl) {
    margin: 0 0 2.85rem 0;
  }
}
