@charset "utf-8";
@use "global" as *;

.cntct__inputInqry_mdfy {
  // sm first
  height: 13.125rem;

  // tablet 768px
  @include mq(md) {
    height: 16.125rem;
  }

  // pc 1440px
  @include mq(xl) {
    height: 13.227rem;
  }
}
