@charset "utf-8";
@use "global" as *;

.cntct__labelInqry_mdfy {
  // sm first
  margin: 0 0.6rem 0 0;

  // tablet 768px
  @include mq(md) {
    margin: 0 0.9rem 0 0;
  }

  // pc 1440px
  @include mq(xl) {
    margin: 0 0.6rem 0 0;
  }
}
