@use "global" as *;

.cntct__mail {
  // sm 375px
  margin: 0 0 2.5rem 0;

  //   tablet 768px
  @include mq(md) {
    margin: 0 0 3.6rem 0;
  }

  // pc 1440px
  @include mq(xl) {
    margin: 0 0 2.76rem 0;
  }
}
