@charset "utf-8";
@use "global" as *;

// sm first
.cntct__kinds_wrap {
  max-width: 23.4375rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0.9375rem;

  // tablet 768px
  @include mq(md) {
    max-width: 61.72rem;
    margin: 0 auto 2.7rem auto;
  }

  // pc 1440px
  @include mq(xl) {
    margin: 0 auto -1rem auto;
  }
}
