@charset "utf-8";
@use "global" as *;

// sm first
.cntct__expl_mdfy {
  max-width: 23.4375rem;
  width: 100%;
  height: 100%;
  margin: 4.75rem auto 3.05rem auto;
  padding: 0 0.9375rem;

  // tablet 768px
  @include mq(md) {
    max-width: 61.72rem;
    width: 100%;
    height: 100%;
    margin: 11.9rem auto -0.25rem auto;
    // margin: 11.8rem auto 3.05rem auto;
  }

  // pc 1440px
  @include mq(xl) {
    max-width: 45.55rem;
    width: 100%;
    margin: 7.3rem auto 4.1rem auto;
  }
}
