@charset "utf-8";
@use "global" as *;
/* sm first */
.header__img {
  max-width: rem(189);
  width: 100%;
  margin: 0 auto 0 0;

  //tablet size
  @include mq(md) {
    transform: scale(1.4);
  }

  // pc size 1440px
  @include mq(xl) {
    transform: scale(1.37);
  }
}
