@charset "utf-8";
@use "global" as *;

// sm first 375px(37.5rem)
.mv__imagBox__filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.34);
  position: absolute;

  // tablet size 768px(76.8rem)
  @include mq(md) {
  }
}
