@charset "utf-8";
@use "global" as *;

// sm first 375px
.md_article {
  border-bottom: solid rem(1) #dddddd;
  padding: rem(0) rem(0) rem(7) rem(0);

  // tablet size 768px
  @include mq(md) {
    padding: 2rem 0 0.75rem 0;
  }

  // pc size 1440px
  @include mq(xl) {
    padding: 0 0 0 0;
    margin: 0 0 1.4rem 0;
  }
}
