@charset "utf-8";
@use "global" as *;

// sm first 375px(37.5rem)
.mv__wrd4 {
  font-family: "Montserrat";
  font-weight: $exbold;
  font-size: rem(56);
  color: #fff;
  letter-spacing: rem(3.528);
  line-height: 1;

  margin: rem(0) rem(0) rem(-3) rem(0);
  padding: rem(0) rem(0) rem(0) rem(0);

  // tablet size 768px(76.8rem)
  @include mq(md) {
    font-size: 4.9rem;
    letter-spacing: 0.4rem;
  }

  // pc size 1440px
  @include mq(xl) {
    font-size: rem(72);
    letter-spacing: 0rem;
    padding: 0 0 1.1rem 0;
  }
}
