@charset "utf-8";
@use "global" as *;
/* sm first */
.mv__bgc {
  width: 100%;
  height: rem(667);
  background-color: #222;
  margin: 0rem 0rem 0rem 5.8rem;

  // tablet simze 768px(76.8rem)
  @include mq(md) {
    max-width: 50.3rem;
    width: 100%;
    height: 91.7rem;
    margin-left: auto;
  }

  // pc size 1440px
  @include mq(xl) {
    max-width: 48.75rem;
    width: 100%;
    height: 46.25rem;
  }
}
