@charset "utf-8";
@use "global" as *;
/* sm first */
.mlBlock__bgc {
  width: 100%;
  height: rem(900);
  background-color: rgba(34, 34, 34, 0.6);

  /* 位置調整 */
  position: absolute;
  top: 0;
  right: -100%;
  transition: 0.2s;
}

.open {
  right: 0;
}
